@import "partials/mixins";
@import "partials/variables";

body {
	background-image: url($circuitoBackgroundImage);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
section {
	.circuito {
		width: 100%;
		min-height: 100vh;
		justify-content: center;
		align-items: center;
		padding: 100px;
	}
}
.container {
	h1 {
		text-align: center;
		margin-top: 14px;
		color: rgb(202, 111, 7);
	}
	table {
		margin-top: 15px;
		img {
			@include dimensionar(30px, 30px);
		}
		.mapa {
			img:hover {
				transition: 300ms;
				transform: scale(1.4) rotate(20deg);
			}
		}
	}
}
@media screen and (max-width: 400px) {
	section {
		padding: 50px;
	}
	.circuito {
		.container {
			width: 100%;
		}
	}
}
