body {
    background-image: url('../assets/images/bckgrounds/bck_circuitos_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

section .circuito {
    /* background-color: black; */
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.container table {
    margin-top: 15px;
}

.container table img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 400px) {
    section {
        padding: 50px;
    }
}