
body {
        background-image: url('../assets/images/bckgrounds/bck_contacto_01.jpg');
}

.container form {
    padding: 30px;
    margin-bottom: 40px;
}

form {
    background-color: rgba(8, 0, 0, 0.822);
}

.form-floating {
    position: relative;
}

.icono {
    position: absolute;
    top: calc(50%);
    left: 1.25rem;
}

.form-floating label, .form-floating .form-control {
    color: black;
    left: .5rem;
    padding-left: 3.5rem;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 10px;
}

.form-floating input:focus {
    background: #534e4e93;
    color: white;
}

.form-floating textarea:focus {
    background: #534e4e93;
    color: white;
}