body {
    background-color: rgb(71, 69, 69);
}

.contenido .row {
    background-color: red;
}

.container {
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

img:hover {
    transition: 1s;
    transform: scale(1.02);
    border-style: solid 3px;
    border-color: orange;
}

.imgModales .modal-content {
    border-style: solid 3px;
    border-color: white;
}
