* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.row .col {
    flex: 33.3%;  /* son tres columnas, por eso 100% dividido 3*/
    position: relative;
    width: auto;
    overflow: hidden;
    padding: 0 4px;
    height: 100%;
}

.row .col img {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    transition: 0.3s linear;

}

.row .col img:hover {
    filter: grayscale(0) brightness(1);
}

@media only screen and (max-width: 800px) {
    .row .col {
        flex: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .row .col {
        flex: 100%;
    }
}