$commonBackground-color_1: rgb(39, 38, 38);
$commonBackground-color_2: orange;

$equipamientoBackground-color_1: rgba(15, 12, 12, 0.952);


$equipamientoBackgroundImage: '../assets/images/bckgrounds/bck_equipamiento_02.jpg';
$circuitoBackgroundImage: '../assets/images/bckgrounds/bck_circuitos_01.jpg';
$contactoBackgroundImage: '../assets/images/bckgrounds/bck_contacto_01.jpg';